<h1> Add A Comment </h1>

<%= form_for [@topic, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body, required: true %>
  <br />
  <%= f.label :author %>
  <%= f.text_field :author, placeholder: 'Leave blank for anon' %>
  <br />
  <%= f.submit %>
<% end %>